AkkaSettings__AkkaClusterDiscoveryResolver=EnvironmentVariables
AkkaSettings__MinNumberOfNodesInCluster=1
AuthenticationSettings__BasicAuthenticationPassword=develop
AzureStorageAccountSettings__UseDevelopmentStorage=true
EventStreamSettings__DisablePublishingEvents=true
EventStreamSettings__DisableSubscribingEvents=true
PostgreSQLRelationalDataStoreSettings__Host=localhost
PostgreSQLRelationalDataStoreSettings__DatabaseCreatorUserName=postgres
PostgreSQLRelationalDataStoreSettings__DatabaseCreatorPassword=Passw0rd
PostgreSQLRelationalDataStoreSettings__DatabaseUserName=thirdparty-order-integration
PostgreSQLRelationalDataStoreSettings__DatabaseUserPassword=ServiceP@ssword
ProcessorSettings__DelayProcessingOnStartInSeconds=10
RelationalDataStoreSettings__DatabaseName=thirdparty-order-integration
Serilog__MinimumLevel__Default=Debug
ServiceSettings__ExternalSystemName=SAPHAHA
ServiceSettings__OrderServiceUri=http://localhost:5001
