<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local1" value="/Users/paulnieuwenhuis/src/diploid-tech/nuget-core-microservice/src/Avanti.Core.Microservice/bin/Debug" />
    <add key="Local2" value="/Users/paulnieuwenhuis/src/diploid-tech/nuget-core-eventstream-azure/src/Avanti.Core.EventStream.Azure/bin/Debug" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Avanti" value="https://nuget.pkg.github.com/diploid-tech/index.json" />
  </packageSources>
</configuration>
