<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local1" value="/home/paul/src/diploid-tech/nuget-core-microservice/src/Avanti.Core.Microservice/bin/Debug" />
    <add key="Local2" value="/home/paul/src/diploid-tech/nuget-core-eventstream-azure/src/Avanti.Core.EventStream.Azure/bin/Debug/" />
    <add key="Local3" value="/home/paul/src/diploid-tech/nuget-core-unittests/src/Avanti.Core.Unittests/bin/Debug/" />
    <add key="Local4" value="/home/paul/src/diploid-tech/nuget-core-http/src/Avanti.Core.Http/bin/Debug/" />
    <add key="Local5" value="/home/paul/src/diploid-tech/nuget-core-relational-data-postgres/src/Avanti.Core.RelationalData.PostgreSQL/bin/Debug" />
    <add key="local6" value="/home/paul/src/diploid-tech/nuget-core-queue-processor/src/Avanti.Core.QueueProcessor/bin/Debug/" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Avanti" value="https://nuget.pkg.github.com/diploid-tech/index.json" />
  </packageSources>
</configuration>
